.botondeinicio {
    margin-bottom: 10px;
    width: 100px; /* Ancho más grande */
    height: 100px; /* Altura más grande */
    border-radius: 50%;
    background-color: transparent;
  }


  .landingTitle {
    font-family: "Homer Simpson UI";
    font-size: 4em;
    color: rgb(250, 89, 89); /* Relleno transparente */
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white, 0 0 5px black; /* Borde blanco y negro */
    transition: text-shadow 0.3s; /* Transición para el efecto de brillo */
  }
  
  .landingTitle:hover {
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white, 0 0 10px red; /* Efecto de brillo con sombra rojiza */
  }

  .estiloLinks{
    font-size: 20px;
    color: rgb(223, 104, 8);
  font-family: "Bigelow Rules";
  -webkit-text-stroke: 2px rgb(173, 165, 165);
  -webkit-text-fill-color: transparent;
  animation: textShadowAnimation 2s infinite;
}

@keyframes textShadowAnimation {
  0% {
    text-shadow: 0 0 10px rgb(223, 104, 8);
  }
  50% {
    text-shadow: 0 0 2px rgba(209, 25, 25, 0.5);
  }
  100% {
    text-shadow: 0 0 10px transparent;
  }
}